* {
  margin: 0;
  padding: 0;
}
body {
  background-color: orange;
  height: 100%;
}
form h1 {
  text-align: center;
}
.formOuter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table td {
  padding: 1em 3em;
}
.inputWidth {
  width: 500px;
  height: 25px;
}
.inputWidthArea {
  width: 500px !important;
}
.submitBtn {
  background-color: blue;
  color: white;
  border: 0;
  padding: 0.5rem;
  border-radius: 10%;
  float: right;
}
